20160922_Thompson_Presentation_Fearon+Laitin.pdf
20161002_Assignment_MLE_wk4.pdf
20161027_Assignment_ordered_probit_logit.pdf
20161031_GIS_Lecture-10.nb
20161102_Thompson_HW-05.html
20161102_Thompson_MLE_Homework-05.html
bookmarks_9_18_15.html
